@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
body {
  font-family: inter;
  width: 80%;
  margin: 0 auto;
  background: rgb(237, 253, 255);
}
*/



.news__text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  margin-top: 30px;
  font-size: 80px;
  color: rgb(43, 10, 230);
  text-align: center;


}

.title{
  font-family: 'Quicksand', sans-serif;
  font-size: 90px;
  text-align: center;

}

.Main {
  max-width: 100%;
}

header {
  background-color: rgb(235, 232, 232);
  max-width: 100%;
}

li {
  list-style: none;
  display: inline-block;
  
}

 li img {
    width: 100px;
    height: 100px;
    
 }
   
 .News {
   max-width: 90%;
   margin: auto;
 }

 .Explanation {
   margin-top: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .Explanation h1 {
   font-size: 40px;
 }

 .Explanation p {
   font-size: 20px;
 }